<%- include('../../partials/header'); %>
    <%- include('../../partials/homenavbar'); %>

        <body>
            <div class="container">
                <img class="img-fluid mt-4" src="https://portfolio.wpsgames.com.br/static/media/front.379a6834.webp"
                    alt="Banner Wagner Silva">

                <h1 class="mt-5">Artigos</h1>

                <div class="d-flex justify-content-between flex-wrap">
                    <% result.articles.rows.forEach(function (article) { %>
                        <div class="card card-wps d-flex mt-4 ">
                            <div class="card-header p-0">
                                <img class="img-fluid" src="/img/img-card.jpg" alt="capa">

                            </div>
                            <div class="card-body">
                                <h2 class="wps-subtitle">
                                    <%=article.title%>
                                </h2>
                                <article class="wps-description mb-4"> <%- article.body %></article>
                                <a href="/<%= article.slug  %>" class="btn btn-primary w-100">Ler artigo</a>
                            </div>
                        </div>
                        <%})%>

                            <div class="row w-100">
                                <div class="col">

                                    <% if(result.page> 2) {%>
                                        <a href="/articles/page/<%= result.page -1 %>"
                                            class="float-left btn btn-outline-primary mt-4 mb-4"> <i
                                                class="bi bi-caret-left"></i> Prev

                                        </a>
                                        <% } else if (result.page==2){ %>
                                            <a href="/" class="float-left btn btn-outline-primary mt-4 mb-4"> <i
                                                    class="bi bi-caret-left"></i> Prev

                                                <%}%>

                                                    <% if (result.next) { %>
                                                        <a href="/articles/page/<%= result.page +1 %>"
                                                            class="float-right btn btn-outline-primary mt-4 mb-4">Next
                                                            <i class="bi bi-caret-right"></i>
                                                        </a>
                                                        <%} %>
                                </div>

                            </div>
                </div>
            </div>
        </body>

        <%- include('../../partials/footer') %>